@import 'tailwindcss';

@theme {
    --color-primary: #FF5F22;
    --color-success: #33B570;
    --color-background: #fafafa;
    --color-color-text: #52525C;

}

body {
    /*background-color: ;*/
    @apply bg-background;

}

@utility my-center {
    justify-content: center;
    align-items : center;

}

@utility nav-active {
    background-color: #fdf2ed;
    @apply text-primary  rounded-lg
}
